{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="Coding Problems" content="Problems to Improve your Coding Skills">
    <title>
        Problemset
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'judge/css/styles.css' %}">
</head>

<body>
    <header class="oj-header">
        <div class="oj-header-limiter">
            <h1><a href="{% url 'index' %}">Online<span>Judge</span></a></h1>
            <nav>
                <a href="{% url 'index' %}" class="selected">Home</a>
                <a href="{% url 'problem' %}">Problems</a>
            </nav>
            <ul>
                <li><a href="/login" class="lightbox_trigger">Login</a></li>
                <li><a href="/register" class="lightbox_trigger">Sign up</a></li>
            </ul>
        </div>
    </header>
    <br>
    <h1 align="center">{{problem.problemName}}</h1>
    <p>{{problem.problemText}}</p>
    <br>
    <form enctype="multipart/form-data" action="{% url 'submit' problem.id %}" method="POST">
        {% csrf_token %}
        <div align="center">
            File: <input type="FILE" name="file" />
            <input type="submit" name="Upload" value="Upload" />
        </div>
    </form>
</body>

</html>