{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="Coding Problems" content="Problems to Improve your Coding Skills">
    <title>
        Problemset
    </title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'judge/css/styles.css' %}">
</head>


<body>
    {% include "judge/base.html" %}
    <br>

    <h1 align="center">{{problem.problemName}}</h1>
    <p>{{problem.problemText}}</p>
    <br>
    <form enctype="multipart/form-data" action="{% url 'submit' problem.id %}" method="POST">
        {% csrf_token %}
        <div align="center"><br>
            <input type="FILE" name="solution" id="solution" style="width:70%" required>
            <label for="lang">Choose a language:</label>
            <select name="lang" id="lang">
                <option value="cpp">C++17</option>
                <option value="py">Python-3</option>
            </select>
            <br><br>
            {% if user.is_authenticated %}
            <button type="submit" class="btn btn-outline-info btn-lg" style="height: 50px; width: 70% ">Submit</button>
            {% else %}
            <button type="submit" class="btn btn-info btn-lg" disabled style="height: 50px; width: 70% ">Submit
                (You must be logged in for this action)</button>
            {% endif %}
        </div>
    </form>
</body>

</html>