{% load static %}

<html lang="en" dir="ltr">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,
					initial-scale=1.0" />
    <title>CodePlaza</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'judge/css/styles.css' %}">

</head>

<body>
    {% include "judge/base.html" %}
    <div class=" jumbotron centered">
        <div class="container">
            {% if verdict == "Accepted" %}
            <h1 class="display-3">Accepted</h1>
            <br><br>
            <img src="{% static 'assets/accepted.png' %}" alt="Accepted" width="300" height="300">
            {% endif %}
            {% if verdict == "Wrong Answer" %}
            <h1 class="display-3">Wrong Answer</h1>
            <br><br>
            <img src="{% static 'assets/wrong_answer.jpg' %}" alt="Wrong Answer" width="300" height="300">
            {% endif %}
            {% if verdict == "Compilation Error" %}
            <h1 class="display-3">Compilation Error</h1>
            <br><br>
            <img src="{% static 'assets/compilation_error.jpg' %}" alt="Compilation Error" width="300" height="200">
            {% endif %}
        </div>
    </div>

</body>

</html>